

Experiments
<ul>
    <li>Runaways electrons
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/shots/28873/">Golem No: 28873 - HXR & Runaways</a>
</li>
    <li>Sessions
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/shots/36386">0421 SFP Golem #36386 et al. p_WG scan</a>
</li>
    <li><a href="http://golem.fjfi.cvut.cz/shots/36392/">0421 SFP Golem #36392 et al. Ucd scan</a>
</li>
  </ul>
</li>
  </ul>
</li>
    <li>Electrostatic probes
<ul>
    <li>Langmuir probe
<ul>
    <li>Reports
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/wiki/Experiments/EdgePlasmaPhysics/ParticleFlux/RakeProbe/1114ShotToShotMeasurement/Sessions/1114Intro/index">1114 Langmuir probe VA shot2shot characteristics measurement of the standard GOLEM tokamak plasma</a>
</li>
  </ul>
</li>
  </ul>
</li>
    <li>Tunnel probe
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/shots/29922/">Golem No: 29922 - Petr Macha</a>
</li>
  </ul>
</li>
    <li>Rail probe
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/wiki/Diagnostics/ParticleFlux/RailProbe/">GOLEM Tokamak Wiki - Contents</a>
</li>
    <li><a href="https://photos.google.com/album/AF1QipNPL2wVJGOFo4e9N0x-vijyZ6PSOm0LuWXsfPfO">Diagnostics/ParticleFlux/RailProbe - Fotky Google</a>
</li>
    <li>Sessions
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/shots/35964/">0321 JM et al. #35964 et al.  Angle Scan @ r=85 mm  </a>
</li>
    <li><a href="http://golem.fjfi.cvut.cz/shots/36071/">0321 JM et al. #36071 et al. Angle scan Shot2Shot</a>
</li>
    <li><a href="http://golem.fjfi.cvut.cz/shots/0/">0321 JM et al. #36277 et al. Angle Scan with Swept  probe</a>
</li>
  </ul>
</li>
  </ul>
</li>
    <li>Peti probe
<ul>
    <li>Sessions
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/shots/35861/">0221 Petr M. et.al. : Radial scan (90-42 mm) both Peti & DRP probes in the float mode #35837-#35861</a>
</li>
    <li><a href="http://golem.fjfi.cvut.cz/shots/35806/">0221 Katka H. et.al.: Radial scan (90-42 mm) BPP@Petiprobe in the float mode and LP@Petiprobe in the float mode, DRP v IsatIsat at 85 mm: #35787-#35805</a>
</li>
    <li><a href="http://golem.fjfi.cvut.cz/shots/35806/">0221 Katka H. et.al.: Radial scan (90-42 mm) BPP@Petiprobe in the float mode and LP@Petiprobe in the swept mode, DRP v IsatIsat at 85 mm: #35788-#35806</a>
</li>
    <li><a href="http://golem.fjfi.cvut.cz/shots/35763/">0221 Katka H. et.al.: Radial scan (90-37 mm) Double Rake Probe in the IsatIsat mode: #35751-#35763 (LP@PetiProbe in the swept mode)</a>
</li>
  </ul>
</li>
    <li><a href="http://golem.fjfi.cvut.cz/wiki/Experiments/EdgePlasmaPhysics/ParticleFlux/PetiProbe/">GOLEM Tokamak Wiki - Contents</a>
</li>
    <li><a href="https://photos.google.com/album/AF1QipNwLwCXasbjAF16pbIV3pLT4WyAus1xHDElzAU4">Diagnostics/ParticleFlux/PetiProbe - Fotky Google</a>
</li>
  </ul>
</li>
    <li>Ball-Pen probe
<ul>
    <li>Reports
<ul>
    <li>Laurerova, M. et al.: Měření elektronové teploty na tokamaku GOLEM elektrickými sondami, 2020
<ul>
    <li><a href="https://www.youtube.com/watch?v=8VVMSbXyztI">Středoškolská odborná činnost 2 Martina Lauerová Měření elektronové teploty na tokamaku GOLEM - YouTube</a>
</li>
    <li><a href="http://golem.fjfi.cvut.cz/shots/35806/">#35806 et al.: Lang probe Isat regime</a>
</li>
    <li><a href="http://golem.fjfi.cvut.cz/shots/35805/">#35805 et al.: Lang probe float regime</a>
</li>
    <li><a href="http://golem.fjfi.cvut.cz/wiki/Presentations/Students/HighSchoolActivities/21Lauerova_ElTeplota.pdf">Laurerova, M. et al.: Měření elektronové teploty na tokamaku GOLEM elektrickými sondami, 2020</a>
</li>
  </ul>
</li>
  </ul>
</li>
  </ul>
</li>
    <li>Double rake probe
<ul>
  </ul>
</li>
  </ul>
</li>
    <li>Magnetic probes
<ul>
    <li>Magneto-hydrodynamic ring - TM
<ul>
    <li>Sessions
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/shots/35902/">0221 MatIv et.al #35902 et al. Bt scan</a>
</li>
  </ul>
</li>
    <li>Commisioning
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/shots/36353/">Golem #36353 et al. With and without mc1,mc9</a>
</li>
  </ul>
</li>
  </ul>
</li>
  </ul>
</li>
    <li>Biasing
<ul>
    <li>Sessions
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/shots/36450/Analysis/Homepage/Scan/diags.html">0421 #36450 et.al: Radial scan Diagnostics: Petiprobe, DRP, MHD, HXR</a>
</li>
  </ul>
</li>
  </ul>
</li>
    <li>Integral
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/shots/36450/Analysis/Homepage/Scan/diags.html">0421 Biasing Electrode & Petiprobe & DRP & MHD ring 16 and 4 & HXR </a>
</li>
  </ul>
</li>
    <li>Full steam
<ul>
    <li><a href="http://golem.fjfi.cvut.cz/shots/36443/">0421 #36443</a>
</li>
  </ul>
</li>
  </ul>
