{% extends "layout.html" %}

{% block content %}

<div class="alert alert-info" role="alert">
    <a href="http://golem.fjfi.cvut.cz/shots/0" target="_blank" class="alert-link">Link to most recent discharge.</a> Will open in new tab.
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Comment</th>
            <th>Shot No.</th>
            <th>Request No.</th>
            <th>U<sub>Bt</sub> [V]</th>
            <th>U<sub>cd</sub> [V]</th>
            <th>gas [mPa]</th>
        </tr>
    </thead>
    <tbody>
        {% for shot in shots %}
        <tr>
            <td>{{ shot.Comment }}</td>
            <td><a href="http://golem.fjfi.cvut.cz/shots/{{ shot.shotno }}" target="_blank">{{ shot.shotno }}</a></td>
            <td>{{ shot.vshotno }}</td>
            <td>{{ shot.ub }}</td>
            <td>{{ shot.ucd }}</td>
            <td>{{ shot.h2 }} ({{ shot.gas }})</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
